# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
venv/
.venv/
env/
.flask_session/
instance/

# Environment
.env
.env.*
.env.local
!.env.example

# Logs
*.log

# OS & Temp
.DS_Store
Thumbs.db
*.tmp

# IDE
.idea/
.vscode/
